body {
    background-color: black;
}

h1 {
    color: white;
}

button {
    font-weight: bold;
    font-size: 14pt;
}

.number {
    background-color: #CCCCCC;
}

.operator {
    background-color: rgb(199, 147, 51)
}

#clear {
    background-color: rgb(199, 147, 51)
}

.calculator-top {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    margin-bottom: 5px;
}

#calculator-input {
    height: auto;
    width: 122px;
    text-align: right;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: auto;
    font-weight: bold;
    font-size: 14pt;
    color: black;
}

#clear {
    height: 40px;
    width: 40px;
    margin-left: auto;
    margin-right: 0;
}

.calculator {
    margin-left: 20px;
    margin-right: auto;
    width: 160px;
}

.calculator-keys {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

.calculator-keys button {
    height: 40px;
    width: 40px;
}